.row {
    margin-bottom: 1em;
}

h1 {
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: -.2em;
}

.dropdown #filter-dropdown {
    margin-bottom: 1em;
}

body {
    padding-top: 75px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.btn-outline-black {
    color: black;
    border-color: black;
}

.btn-outline-black:hover {
    border-color: black;
    background-color: rgb(249, 249, 249);
}

.post-link {
    text-decoration: none;
    /* Remove default underline for links */
    color: #000;
    /* Set the color for the link */
}

.card {
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 5px grey;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-3px) translateX(3px);
    box-shadow: 1px 1px 15px black;
}

#discussion-image {
    margin: 1em 0em;
}

#discussion-category {
    font-size: 1.3em;
    font-weight: bold; 
    /* font-style: italic;  */
    float: left;
}