#headbar {
    background-color: rgb(56, 56, 56);
    padding: .7em;
    border-radius: 10px;
    overflow: hidden;
}

#headtext {
    color: lightgray;
    font-size: large;
}

.white-button {
    background-color: white;
    color: #000;
}

.white-text {
    color: lightgray;
}

#first-comment {
    margin-left: 3em;
    margin-bottom: .25em;
}

#second-comment {
    margin-left: 6em;
    margin-bottom: .25em;
}